<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <section id="show-page">
       <div>Airline: </div>
       <div><%= flight.airline</div>
       <div>Airport: </div>
       <div><%= flight.airport</div>
       <div>Flight Number: </div>
       <div><%= flight.flightNo </div>
       <div>Departs: </div>
       <div><%= flight.departs</div>
       <div>Arrivals: </div>
       <div><%= flight.arrival</div>
   </section>
   
    <br><br><h2>Destinations</h2>
   <form id=""add-destination-form" method="POST"
   action="'/flights/<%= destination._id %>/destinations">
   <label>Destination:</label>
   <select name="airline">
       <option value="AUS">AUS</option>
       <option value="DFW">DFW</option>
       <option value="DEN">DEN</option>
       <option value="LAX">LAX</option>
       <option value="SAN">SAN</option>
   </select>
   <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length) { %>
    <table>
       <thead>
            <tr>
                <th>Date</th>
                <th>Destination</th>
                <th>Airline</th>
            </tr>
        </thead> 
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
            <tr>
                <td><%= d.createdAt.toLocaleDateString() %></td>
                <td><%= d.content %></td>
                <td><%= d.airline %></td>
            </tr>
        <% }) %>
    </tbody>
    </table>
<% } else { %>
    <h5>No Destinations Yet</h5>
<% } %>
</body>
</html>